@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
// font-family: 'Poppins', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
// font-family: 'Lato', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
//font-family: 'Montserrat', sans-serif;




// @font-face{
//     font-family: 'WorkSans-Regular';
//     src: url(../font-family-workscans/WorkSans-Regular.ttf);           //w-400
// }
