.header {
    &__header-container {
        width: 100%;
        max-width: 1920px;
        @include ml-mr-auto();
        @include img-cover();
        background-image: url('../../img/aboutHeader.png');
        height: 700px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }

    &__header-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;

        h1 {
            font-size: 70px;
            line-height: 68px;
            margin-bottom: 20px;
            font-family: 'Poppins', sans-serif;
        }

        a {
            font-size: 20px;
            padding: 15px 25px;
            background-color: #007bffbf;
            display: inline-block;
            border: 1px solid #0b65c5;
            font-family: 'Poppins', sans-serif;
            color: #fff;
            transition: all 0.3s ease-in-out;

            &:hover {
                   background-color: #eeeeee;
                border: 1px solid #eeeeee;
                color: #007bffbf;
            }
        }
    }




}